body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  
}

.container {
  width: 40%;
  height: 60%;
  max-width:500px;
  max-height:380px;
  min-width: 200px;
  min-height: 325px;
  background-color: #f0f0f0; /* Light background for the overall page */
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: adds shadow for depth */
  padding: 20px; /* Added padding for the container */
  padding-top: 0px;
  padding-bottom: 35px;
}

.top-section, .bottom-section {
  display: flex;
  justify-content: space-around; /* Distributes buttons equally */
  align-items: center; /* Centers buttons vertically */
  color: #fff; /* White text color */
}

.top-section {
  flex: 1; /* Smaller section */
  gap: 10px;
}

.bottom-section {
  flex: 3; /* Larger section */
  width: 100%; /* Ensures bottom section takes full width */
}

.button {
  font-size: clamp(12px,1.6vw, 25px);
  padding: 1vw 1vw;
  max-width: 130px;
  max-height: 60px;
  min-width: 35px;
  min-height: 25px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
  background-color: #ddd; /* Lighter grey on hover */
  transform: scale(1.05); /* Slightly larger on hover */
}
.AppLayout{
  width: 100%;
  height: 100%;
  
}
span:hover{
  cursor: default;
}
.container{
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
}
.left-section{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.right-section{
  background-color: #2a3352;
  width: 100%;
  border-radius: 10px;
  padding: 20px;
}
.navDiv{
  padding: 1rem;
  text-decoration: none;
  color: black;
}
.active{
  background-color: #2a3352;
  color: white;
  border-radius: 100vw 0 0 100vw;
  width: 100%;
  position: relative;
}
.active::before,.active::after{
  content: '';
  background-color: #f0f0f0;
  display: inline-block;
  width: 20px;
  aspect-ratio: 1;
  position: absolute;
}
.active::after{
  right: 12px;
  top: -20px;
  box-shadow: 5px 5px 0 5px #2a3352;
  border-bottom-right-radius: 100%;
  display: var(--is-top);
}
.active::before{
  right: 12px;
  bottom: -20px;
  box-shadow: 5px -5px 0 5px #2a3352;
  border-top-right-radius: 100%;
}