.homePage {
    padding: 15px 15px;
    border-radius: 10px;
    color: white;
    background-color: #00a7a7;
    height: 100%;
    box-sizing: border-box;
}
.aProfile{
    display: inline-flex;
    text-decoration: none;
}
.homeNav{
    display: inline-flex;
    flex-direction: column;
    position: fixed;
    z-index: 99;
    /*CAREFUL THIS COULD LEAD TO AN ERROR AGAIN
    THIS WAS HIGHER THAN THE SEARCH BAR IT CAUSED PROBLEMS
    WITH CLICK OUTSIDE FUNCTION*/
    box-sizing: border-box;
}
.postsContainer{
    border-radius: 10px;
    background-color: rgb(101, 202, 202);
    padding: 7px;
    overflow: auto;
}
.sharePostButton:hover{
    background-color: lightgray;
}
.toProfilePageButton{
    margin: 0px 20px 0px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.toProfilePageButton:hover{
    background-color: rgb(120, 120, 120);
    color: #eaeaea;
}
@keyframes popUp {
    0% {
      top:0;
      opacity: 0;
    }
    30%{
      top: 10%;
      opacity: 0.9;
    }
    60%{
      top: 15%;
      opacity: 1;
    }
    100% {
      top: 50%;
      opacity: 0;
    }
  }
  .shareNotification{
    padding: 15px;
    z-index: 1001;
    border: 1px solid rgb(255, 201, 64);
    position: absolute;
    top:0;
    right: 40%;
    display: block;
    background-color: rgb(88, 125, 206);
    animation: popUp 3s ease-out forwards;
    clip-path: polygon(0 10%, 90% 10%, 100% 50%, 90% 90%, 0 90%);
  }