.login-container {
    width: 25vw;
    min-width: 200px;
    margin: 0 auto;
    margin-top: 2vh;
    padding: 20px;
    padding-top: 0px;
    background-color: #f0f0f0;
    border-radius: 20px;
    border:3px solid #6e8efb;
    box-shadow: 20px 20px 7px 2px rgba(0, 0, 0, 0.2);
  }
  
  h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  .ababa{
    width: 50px;
    background-color: #6e8efb;
    margin-bottom: 10px;
  }
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  .loginInput,
  input[type="password"] {
    width: 92%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin:auto;
  }
  
  .submitt {
    width: 30%;
    padding: 10px;
    background-color: #a777e3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top:15px;
    font-size: clamp(12px, 2vw, 16px);
  }
  
  .submitt:hover {
    background-color: #a777e3;
  }
