.profilePage{
    padding: 15px 15px;
    border-radius: 10px;
    background-color: rgb(241, 210, 241);
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
}
.postsContainerProfile{
    border-radius: 10px;
    background-color:inherit;
    padding: 7px;
    margin-top: max(1vh,10px);
    overflow: auto;
    height: auto;
}
.profileInfo{
    display: flex;
    flex-direction: column;
}
.profileUserInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.toHomePageButton, .updateButton{
    margin: 0px 20px 0px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.toHomePageButton:hover, .updateButton:hover{
    background-color: rgb(120, 120, 120);
    color: #eaeaea;
}
.profileNav{
    display: inline-flex;
}
.aHomepage{
    display: inline-flex;
    text-decoration: none;
}
.userProfilePicture{
    width: max(35px,4vw); /* Adjust as needed */
    height: max(35px,4vw); /* Adjust as needed */
    border-radius: 50%; /* This makes the image round */
    object-fit: cover;
}
.ratingsContainer{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
    gap: 5px; 
}