.register-container {
  width: 25vw;
  min-width: 200px;
  margin: 0 auto;
  margin-top: 2vh;
  padding: 20px;
  padding-top: 0px;
  background-color: #f0f0f0;
  border-radius: 20px;
  border:3px solid #a777e3;
  box-shadow: 20px 20px 7px 2px rgba(0, 0, 0, 0.2);
}

.radio-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.roleButtons {
    margin: 5px;
    margin-top: 7px;
    margin-bottom: 0;
    display: flex;
    align-self: center;
    justify-content: flex-start;
    flex-direction: row;
}
h2 {
  margin-top: 0;
  margin-bottom: 0;
}
.signupbtn{
  width: 30%;
  padding: 10px;
  background-color: #6e8efb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top:15px;
  font-size: clamp(12px, 2vw, 16px);
}
@keyframes growAndStretch {
  0% {
    background-color: rgb(255, 201, 64);
    top: 60%;
    height: 30%; /* Start as a thin line */
    transform: scaleY(0.2);
    width: 1%;
    clip-path: ellipse(18% 49% at 50% 50%);
  }
  30% {
    top: 0;
    background-color: rgb(255, 201, 64);
    height: 30%; 
    width: 1%; /* Keep the initial width */
    opacity: 1;
    transform: scaleY(0.2);
    transform-origin: top;
    clip-path: ellipse(18% 49% at 50% 50%);
  }
  50% {
    top: 0;
    background-color: rgb(255, 201, 64);
    height: 30%;
    width: 1%; /* Keep the initial width */
    transform: scaleY(1);
    transform-origin: top;
    clip-path: ellipse(18% 49% at 50% 50%);
  }
  99%{
    top: 0;
    clip-path: ellipse(70% 60% at 50% 50%); 
  }
  100% {
    top: 0;
    height: 30%;
    width: 40%; /* Final width */
    clip-path: none;
  }
}


.popUp {
  padding: 15px;
  border: 1px solid rgb(255, 201, 64);
  position: absolute;
  border-radius: 15px;
  left:0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: block; /* Or flex, depending on your content */
  background-color: rgb(255, 255, 255); /* Example background color */
  animation: growAndStretch 2s ease-out forwards; /* Adjust time as needed */
  transform-origin: bottom;
  overflow: hidden;
  white-space: nowrap; /* Prevents text wrapping during animation */
}

@keyframes fadeInContent {
  0%, 89%{
    opacity: 0;
  }
  90%, 100% {
    opacity: 1;
  }
}
.popUpForm{
  height: 100%;
  opacity:0;
  position: relative;
  animation: fadeInContent 2s forwards;
}
.closePopUpButton{
  position: absolute;
  right: 0;
  bottom: 0;
}