.overlayPicture {
    position: fixed; /* Position it to cover the whole screen */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3); /* Semi-transparent black background */
    backdrop-filter: blur(4px); /* Apply blur effect */
    display: flex;
    justify-content: center; /* Center children horizontally */
    align-items: center; /* Center children vertically */
    z-index: 101; /* Ensure it's above other content */
}
.userPressedProfilePicture{
    width: 30vw;
    height: 30vw; 
    border-radius: 100%;
    z-index: 102; 
    object-fit: cover;
}