.comment {
    color: black;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-grow: 1;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
}
.commentersProfilePic{
  margin-right : 0;
  width: max(30px,3.2vw);
  height: max(30px,3.2vw);
  border-radius: 50%;
  object-fit: cover;
}
.commentMenu{
    position: absolute;
    top: 0;
    right: 0;
    cursor: default;
}
.commentDropdownDiv{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    top: 0;
    right: 0;
    background-color: aliceblue;
    color: #000;
    border: 1px solid black;
    object-fit: cover;
    padding: 5px;
}
.comment-contract-btn{
    position: absolute;
    bottom: 2px;
    right: 2px;
}