.comments {
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  color: #000;
  display: flex;
  flex-direction: column;
  max-height: 250px;
  outline: 1px solid black;
  }
.seeComments::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
.writeComment{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 5px;
}
.botArrow{
  text-align: center;
  border-left: clamp(8px,1vw,18px) solid transparent; /* Left border, making half of the triangle */
  border-right: clamp(8px,1vw,18px) solid transparent; /* Right border, making the other half of the triangle */
  border-top: 14px solid rgb(90, 89, 89);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(calc(-50% - 20px));
}
.topArrow{
  text-align: center;
  border-left: clamp(8px,1vw,18px) solid transparent; /* Adjust size */
  border-right: clamp(8px,1vw,18px) solid transparent; /* Adjust size */
  border-bottom: 15px solid rgb(90, 89, 89);
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(calc(-50% + 59px));
}
.date{
  margin-left: auto;
}
.commentsProfilePic{
  margin-right : 0;
  width: max(35px,4vw); /* Adjust as needed */
  height: max(35px,4vw); /* Adjust as needed */
  border-radius: 50%; /* This makes the image round */
  object-fit: cover;
}
.seeComments{
  border: 1px solid black;
  overflow: auto;
  padding: 10px;
  position: relative;
  margin-top: 20px;
  border-radius: 10px;
}