.ContractView{
    width: max(40vw,500px);
    height: fit-content;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 100%;
    margin: auto;
    border-radius: 5px;
    outline: 2px solid black;
    padding: 5px;
    color: #000;
    z-index: 100;
    animation: growAndSlide 1s ease-out forwards;
}
.editContract{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    border-radius: 5px;
    background-color: aquamarine;
}
.closeViewContractButton{
    width: fit-content;
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 5px;
}
.closeEditContractButton{
    width: fit-content;
    position: absolute;
    bottom: 5px;
    right: 40%;
    border-radius: 5px;
}
.sendEditContractButton{
    width: fit-content;
    position: absolute;
    bottom: 5px;
    right: 5px;
    border-radius: 5px;
}
@keyframes growAndSlide {
    0% {
        opacity: 0;
        background-color: #000;
        transform: scale(0.5);
        right: 100%;
        clip-path: ellipse(24% 17% at 50% 50%);    }
    80%{
        background-color: #6c6c6c;
        clip-path: ellipse(50% 39% at 50% 50%);
    }
    95%{
        background-color: #cecece;
        clip-path: ellipse(70% 69% at 50% 50%);
    }
    100% {
        right: 0;
        opacity: 1;
        background-color: white;
        transform: scale(1);
        clip-path: none;
    }
}
.aContractView{
    text-decoration: none;
}