.contract{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 60%;
    height: 60%;
    padding: 10px;
    border-radius: 15px;
    background-color: white;
    color: black;
    border: 1px solid black;
    z-index: 110;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.closeContractButton{
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: max(1.5vw,15px);
    border: none;
    background-color:  #6e8efb;
    color: white;
    padding: 3px 10px;
    border-radius: 5px;
}
.closeContractButton:hover, .submitOfferButton:hover, .closeMapButton:hover{
    color:  #6e8efb;
    background-color: white;
    outline: 1px solid #6e8efb;
}
#amount{
    border: none;
    border-bottom: 1px solid black;
    width: fit-content;
}
#amount:focus{
    outline: none;
}
.closeMapButton, .submitOfferButton{
    border-radius: 5px;
    border: none;
    background-color:  #6e8efb;
    color: white;
    padding: 3px 10px;
}
.closeMapButton{
    display: block;
}
.submitOfferButton{
    position: absolute;
    bottom: 5px;
    left: 5px;
    
}