.leftBar{
    width: 20%;
    background: black;
    color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.aViewContracts{
    position: relative;
}
.leftBarNotiSpan{
    position: absolute;
    font-size: 10px;
    display: grid;
    place-items: center;
    width: 15px;
    height: 15px;
    background-color: red;
    color: white;
    border-radius: 100vw;
    top: 0;
    right: 0;
}