/*.MiniContract{
    display:flex;
    position:relative;
    gap:10px;
    padding:5px;
    flex-direction:column;
    border:1px solid white;
    border-radius: 5px;
}*/
.MiniContract{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap:5px;
    padding:5px;
    border:1px solid white;
    align-items: center;
    border-radius: 5px;
}
.aViewProfile{
    text-decoration:none;
    color:#7fb5cd;
    cursor:default;
    transition: font-size 100ms, transform 100ms;
    position: absolute;
    transform: translateX(5px);
}
.aViewProfile:hover{
    color: #05ffde;
    font-size: 18px;
    transform: translateX(7px) translateY(-4px);
}
.aHoverContainer{
    position: relative;
}
.viewContractButton{
    border: none;
    border-radius: 5px;
    padding: 3px 5px;
    color: white;
    background-color: #7fb5cd;
}
.viewContractButton:hover{
    color: white;
    background-color: #ff05ac;
}
.red{
    background-color: rgb(158, 40, 62);
}