.searchElement{
    background-color: plum;
    color: black;
    border: 1px solid white;
    border-radius: 5px;
    padding: 7px;
}
.searchNames{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 5px;
}
.searchElemFirstRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.miniPostContent{
    background-color: white;
    outline: 1px solid black;
    border-radius: 5px;
    padding: 2px 5px;
    width: 80%;
    height: 4vh;
    resize: vertical;
    min-height: 40px;
    max-height: 100px;
    overflow-y: auto;
    margin: auto;
}