.searchElementUser{
    background-color: plum;
    color: black;
    border: 1px solid white;
    border-radius: 5px;
    padding: 7px;
    display: flex;
    gap: 10px;
    flex-direction: row;
}
.searchElemFirstColumn{
    display: flex;
    width: fit-content;
    flex-direction: column;
}
.searchElemSubjects{
    display: flex;
    height: 10vh;
    width: 80%;
    flex-direction: column;
    overflow-y: auto;
    margin: 0 auto;
    padding: 2px;
}
.searchElemSubjects span{
    border-bottom:1px solid black
}
.mappedSubjects{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
}