.navBar{
    padding: max(1vh,10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(241, 210, 241);
}
.aNav{
    text-decoration: none;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.logoutbtn{
    cursor: pointer;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #6e8efb;
    padding: 3px 5px;
    color: white;
}
.logoutbtn:hover{
    background-color:white ;
    color: #6e8efb;
}
.aNavLogo{
    height: 4vh;
    min-height: 30px;
    min-width: 75px;
}