.notification{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap:5px;
    padding:5px;
    border:1px solid white;
    align-items: center;
    border-radius: 5px;
}
.twoCol{
    grid-column: span 2;
}
.oneCol{
    grid-column: span 1;
}
