.post {
    border: 1px solid #ccc;
    padding: 25px 25px 20px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: -3px 5px 4px rgba(0, 0, 0, 0.4);
  }
  .post-profile-picture{
    width: max(20px,3vw); /* Adjust as needed */
    height: max(20px,3vw); /* Adjust as needed */
    border-radius: 50%; /* This makes the image round */
    object-fit: cover;
  }
  .post-content {
    color: #000;
    margin-bottom: 20px;
  }
  .post-likes-container{
    display: flex;
    margin-right: auto;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  .post-likes-label{
    color: #000;
  }
  .post-like:hover{
    background-color: lightgray;
  }
  .post-contract{
    border-radius: 5px;
    margin-right: 25%;
    cursor: pointer;
    border: 1px solid gray;
  }
  .post-comment:hover{
    background-color: lightgray;
  }
  .post-comments.show {
    display: block; /* Show the comments section when the "show" class is added */
    height:100%;
    max-height: 200px; /* Adjust this height as needed */
    overflow-y: scroll;
    background-color: #ccc;
    padding: 7px;
    padding-right: 7px; /* Add space for the scrollbar */
    margin-top: 10px;
  }
  .post-comments-label{
    color: #000;
  }
  .post-header{
    color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .post-stats{
    margin-top: 15px;
  }
  .post-options:hover{
    cursor: pointer;
  }
  .post-profile{
    display:flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: flex-start;
  }
  .post-username{
    margin-left:10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-top: 0;
    margin-bottom: 1px;
  }
  .posts-content{
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px 10px;
  }
  .post-author{
    margin: 0px 10px
  }
  .post-about{
    margin: 0 5px;
  }
  .post-dropdown-options{
    position:absolute;
    top: 0%;
  
  }
  .post-footer{
    display:flex;
    justify-content: space-around;
    flex-direction: column;
  }
  .post-stats{
    margin-top: 0px;
  }
  .post-actions{
    display:flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
  }
.postMenu{
  position: absolute;
    top: 3px;
    right: 3px;
    cursor: default;
}
.postDropdownDiv{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
    top: 0;
    right: 0;
    background-color: aliceblue;
    color: #000;
    border: 1px solid black;
    object-fit: cover;
    padding: 5px;
}
.deletePostButton:hover, .editPostButton:hover{
  color: #050d1c;
  background-color: rgb(147, 197, 193);
}
.post-title{
  width: fit-content;
  margin: 0 0 0 auto;
}