
@keyframes popUp {
    0% {
      top:0;
      opacity: 0;
    }
    30%{
      top: 10%;
      opacity: 0.9;
    }
    60%{
      top: 15%;
      opacity: 1;
    }
    100% {
      top: 50%;
      opacity: 0;
    }
  }
  .postNotification{
    padding: 15px;
    z-index: 1001;
    border: 1px solid rgb(255, 201, 64);
    position: absolute;
    top:0;
    right: 40%;
    display: block;
    background-color: rgb(88, 125, 206);
    animation: popUp 3s ease-out forwards;
    clip-path: polygon(0 10%, 90% 10%, 100% 50%, 90% 90%, 0 90%);
  }
  