.rightBar{
    width: 20%;
    background: #c17304;
    color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.contractsContainer{
    overflow-y: auto;
    height: 94.6%;
    margin-top: 5px;
    display:flex;
    flex-direction:column;
    gap: 5px;
}
.rightBarButton{
    font-size: max(1.5vw,15px);
    border: none;
    background-color:  #6e8efb;
    color: white;
    padding: 3px 10px;
    border-radius: 5px;
}
.rightBarButton:hover{
    color:  #6e8efb;
    background-color: white;
    outline: 1px solid #6e8efb;
}
.activeButton {
    background-color:  white;
    color: #6e8efb;
  }
.activeButton:hover {
    background-color: rgb(230, 236, 245);
    outline: 1px solid #6e8efb;
}
.notificationsContainer{
    animation: dropdown 1000ms ease-in-out;
}
@keyframes dropdown {
    0%{
        height: 0;
        opacity: 0.3;
        overflow: hidden;
    }
    100%{
        height: 100%;
        opacity: 1;
        overflow: auto;
    }
}