.searchContainer{
    display: flex;
    flex-direction: column;
    margin-left: auto;
}
.searchField{
    z-index: 101;
    /*CAREFUL THIS COULD LEAD TO AN ERROR AGAIN
    THIS WAS LOWER THAN THE SEARCH BAR IT CAUSED PROBLEMS
    WITH CLICK OUTSIDE FUNCTION*/
    position: absolute;
    width: max(35%,150px);
    right: 5%;
    height: max(150px,30%);
    border: 1px solid black;
    border-radius: 5px;
    background-color: plum;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: auto;
}
.searchSpan{
    border:none;
    width: 90%;
}
.searchSpan:focus{
    outline: none;
}
.searchDiv{
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    color: #000;
    background: white;
    width: max(70px,15vw);
    border: none;
    padding: 2px 5px;
    align-items: center;
}
.searchDiv:focus-within{
    outline: 2px solid black;
}
.fa-search{
    font-size: max(2vh,10px);
}

.searchProfilePicture{
  width: max(30px,3.2vw);
  height: max(30px,3.2vw);
  border-radius: 50%;
  object-fit: cover;
}
.searchOptions{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
}
.searchOptionContainer{
    display: flex;
    align-items: baseline;
    flex-direction: row;
    background-color: rgb(2, 121, 82);
    border-radius: 5px;
    border: none;
    width: fit-content;
    padding: 2px 5px;
}
.searchOptionContainer:hover{
    color:  rgb(2, 121, 82);
    background-color:rgb(244, 242, 242);
}
.searchOptionContainer:hover .searchOption::after{
    background-color:  rgb(2, 121, 82);
}
.searchOption{
    margin: auto auto auto 0;
    appearance: none;
}
.searchOption::after{
    content: '';
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
}
.minisContainer{
    display: flex;
    height: 100%;
    overflow-y: auto;
    outline: 1px solid black;
    padding: 3px;
    border-radius: 5px;
    flex-direction: column;
    gap: 5px;
}
.clicked::after{
    /*background-color: rgb(30, 255, 0);*/
    background-color: #000;
}