.sharePostContainer {
    margin: 10px;
    margin-bottom: 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  .radioButtons{
    display: flex;
    margin-top: 15px;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }
  .postInput {
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    min-height: 20px;
    max-height: 80px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  .textInput {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 90%;
  }
  
  input[type="radio"] {
    margin-right: 5px;
  }
  
  .sendPostButton {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  .keywordsInput {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    color: #000;
    padding: 2px;
  }
  
  .keywordsInput input {
    flex-grow: 0;
    margin: 0px;
    padding: 10px;
    border: none;
    border-radius: 4px;
  }
  
  .keywordsList::-webkit-scrollbar {
    display: none; /* For Webkit browsers */
  }
  .keywordsList {
    list-style-type: none;
    max-height: 95px;
    overflow: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
    /*for removing the scrollbar in every browser*/
  }
  
  .keywordsList li {
    border-bottom: 1px solid #000;
    padding: 4px 3px;
    margin-bottom: 5px;
    align-items: center;
  }
  
  .keywordsList li span {
    font-size: max(12px, 2.5vw);
    margin-left: auto;
    padding: 0px 5px;
    color: #6e8efb;
    cursor: pointer;
  }
.keywordsButton{
    padding: 3px 10px;
    font-size: max(12px, 2.5vw);
    border: none;
    border-radius: 4px;
    color: white;
    background-color: #007bff;
    margin-left: auto;
} 
.keywordsContainer{
    width: 100%;
    display: flex;
    border-radius: 5px;
    border: 1px solid white;
    flex-direction: column;
    align-items: stretch;
}  
.aboutContainer{
  margin-left: auto;
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 10px;
}
.selectMenu{
  border-radius: 4px;
  background-color: field;
  color: #000;
}
@media (max-width: 572px) { /* Example breakpoint */
  .aboutContainer {
    margin-left: 0;
    align-self: flex-start;
  }
}
  