.timetableButtons{
    display: flex;
    gap: 5px;
}
.timetableDiv {
    --cell-height:30px;
    background-color: rgb(42, 42, 42);
    position: fixed;
    inset: 0;
    margin: auto;
    padding: 3rem 1.5rem 1.5rem 1rem;
    height: fit-content;
    width: 80%;
    display: grid;
    grid-template-columns: auto repeat(7, 1fr); /* 7 days and 1 for the hours display*/
    grid-template-rows: auto repeat(15, 1fr); /* 15 hours and 1 for header */
    text-align: center;
    color: #000;
    gap: 1px;
    overflow: hidden;
    border-radius: 10px;
    z-index: 200;
}
/*set its original position on the right of the grid and make its size the same as the grid*/
.after{
    position: absolute;
    content: '';
    z-index: 5;
    width: calc(100% - 2.5rem + 2px);
    height: calc(15px + 15 * var(--cell-height));
    top:calc(3rem + var(--cell-height));
    transform: translateY(-4px) translateX(100%);
    left:1rem;
    background-color:rgb(42, 42, 42);
}
/*set its original position on the left of the grid and make its size the same as the grid*/
.before{
    position: absolute;
    content: '';
    z-index: 5;
    width: calc(100% - 2.5rem + 2px);
    height: calc(15px + 15 * var(--cell-height));
    top:calc(3rem + var(--cell-height));
    transform: translateY(-4px) translateX(100%);
    right: 165vw;
    background-color:rgb(42, 42, 42);
}
/*slide it to the right*/
.animateB{
    right: 0;
    transition: right 500ms ease;
}
/*slide it to the left*/
.animate{
    left: -200vw;
    transition: left 500ms ease;
}
.header-row {
    display: contents;
    position: relative;
}

.previousWeek,
.nextWeek {
    z-index: 4;
    position: absolute;
    width: 0;
    height: 0;
    border: 14px solid transparent ;
}
.previousWeek:hover,
.nextWeek:hover {
    cursor: pointer;
}
.previousWeek {
    border-right: 14px solid rgb(254, 74, 24);;
    transform: translate(43%, 177%);
}
.nextWeek {
    right: 0;
    border-left: 14px solid rgb(254, 74, 24);;
    transform: translate(10%, 177%);
}
.header-cell {
    background-color: rgb(249, 238, 238);
    padding: 2px;
    outline: 1.5px solid #626262;
    height: fit-content;
    display: inline-flex;
    align-items: baseline;
    justify-content: center;
}

.row {
    display: contents;
}

.cell {
    outline: 1px solid #626262;
    text-align: center;
    display: inline-flex;
    align-items: center;
    height: var(--cell-height);
    position: relative;
}

.event {
    display: flex;
    flex-direction: column;
    height: calc((var(--row-end) - var(--row-start)) * var(--cell-height));
    width: 100%;
    font-size: 11px;
    background-color:rgb(254, 74, 24);
    color: white;
    position: absolute;
    top: calc((var(--minutes-offset) / 60) * var(--cell-height));
    z-index: 2;
    outline: 1px solid #ddd;
    /* this is added for when we hover off, first retreat height then transform back and lastly go behind (z)*/
    transition: transform 250ms ease-in-out 250ms, height 250ms ease-in-out 0ms, z-index 0ms 500ms;
    transform-origin: top;
}
.event:hover{
    z-index: 3;
    transform: scale(1.2);
    height: 180px;
    /* first go infront (z index) then scale then height increase */
    transition: transform 250ms ease-in-out, height 250ms ease-in-out 250ms, z-index 0ms;
}
.event:hover .eventContent {
    opacity: 1;
    /* same here we increase the height of content inside after its scaled (transformed)*/
    transition: height 250ms ease 250ms, opacity 250ms 250ms;
}
.eventContent {   
    display: inline-flex;
    align-items: center;
    padding: 5px;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    /*when off hover we immediately decrease height since height is the first thing that changes for parent*/
    transition: height 250ms ease, opacity 250ms ease;
    height: 100%;
    overflow: hidden;
    flex-grow: 1;
}
.hours{
    width: 21.6px;
    background-color: rgb(42, 42, 42);
    color: white;
    outline: 1px solid #626262 ;
}
.empty-cell{
    width: 10px;
    background-color: rgb(42, 42, 42);
}
.glow{
    background-color: rgb(226 72 29 / 58%);
}
.currentTimeIndicator{
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    top: calc((var(--minutes-offset) / 60) * var(--cell-height));
}
.displayWeek{
    color: white;
    position: absolute;
    top: 1rem;
}
.start{
    left: 2.5rem;
}
.end{
    right: 1.5rem;
}