.confirmLocationButton, .addLocationButton,.removeLocationButton,
.confirmLocationRemoveButton{
    border-radius: 5px;
    width: fit-content;
    background: #6e8efb;
    border: none;
    color: white;
    cursor: default;
}
.confirmLocationButton{
    margin-left: 10px;
}

.addLocationButton,.removeLocationButton{
    padding: 3px 5px;
}
.confirmLocationButton, .confirmLocationRemoveButton{
    padding: 1px 5px;
}
.confirmLocationButton:hover, .addLocationButton:hover, .removeLocationButton:hover, .confirmLocationRemoveButton:hover{
    color: #6e8efb;
    outline: 1px solid #6e8efb;
    background: white;
}
.addLocationContainer{
    display: flex;
    width: fit-content;
    flex-direction: row;
}
.displayLocationsSpan{
    padding: 5px;
    background-color: white;
    color: #6e8efb;
    margin-top: 5px;
    border: 2px solid;
    border-color:#6e8efb rgb(252, 197, 158) #6e8efb rgb(252, 197, 158);
}
.selectedAddLocations{
    background-color: rgb(190, 118, 66);
    overflow-y:auto;
    height:70px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 5px;
    border: 3px inset #6e8efb;
    padding: 5px;
    margin: 5px 0px 0px;
    width: 90%;
}
.selectedAddLocationsElement{
    background-color: white;
    color: black;
    border: 1px solid #6e8efb;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.removeLocationContainer{
    display: flex;
    gap: 5px;
    flex-direction: column;
}
.removeLocationsList{
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 5px;
    border: 1px solid #6e8efb;
    max-height: 100px;
    overflow-y: auto;
    padding: 5px;
}
.removeLocationElement{
    background-color: white;
    color: black;
    display: flex;
    flex-direction: row;
    gap: 5px;
    border: 1px solid #6e8efb;
    border-radius: 5px;
    padding: 5px;
}