.addSubjectContainer{
    display: flex;
    width: fit-content;
    align-items: center;
    flex-direction: row;
}
.displayAddSubjectDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
}
.addSubjectButton, .removeSubjectButton{
    padding: 3px 5px;
}
.addSubjectButton:hover, .removeSubjectButton:hover{
    color: #6e8efb;
    outline: 1px solid #6e8efb;
    background: white;
}
.addSubjectButton,.removeSubjectButton,
.confirmSubjectButton{
    border-radius: 5px;
    background: #6e8efb;
    color: white;
    cursor: default;
}
.subjectNav{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.updateSubject{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.removeSubjectDiv{
    height: 100px;
    padding: 2px;
    border-radius: 5px;
    outline: 1px solid #6e8efb;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 2px;
}