.update{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 60%;
    height: 60%;
    background-color: rgb(252, 197, 158);
    z-index: 100;
    padding: 15px;
    border-radius: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.updateUser{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
}
.updateButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.updateProfileButton,.closeUpdateButton,.updateOption{
    font-size: 16px;
    padding: 6px;
    border-radius: 5px;
    width: fit-content;
    background: #6e8efb;
    border: none;
    color: white;
    cursor: default;
}
.updateProfileButton{
    margin-top: auto;
}
.updateProfileButton:hover,.closeUpdateButton:hover,.updateOption:hover{
    color: #6e8efb;
    background: white;
}
.updateNav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.updateContent{
    margin-top: 10px;
    padding: 5px;
    background-color: white;
    border: 1px solid rgb(75, 44, 13);
    height: fit-content;
}
